.all-event {
  margin: 0 auto;
  margin-top: 40px;
}
.event-heading {
  margin-bottom: 20px;
  text-align: center;
}
.single-event {
  display: flex;
  margin: 10px;
}
.event-img {
  margin-top: 10px;
  margin-right: 20px;
}
.single-event-heading {
  margin: 10px;
}
.event-description {
  margin: 10px;
}
.event-date {
  margin-left: 10px;
}
.read-more {
  margin-left: 10px;
  color: blue;
}
@media (max-width: 648px) {
  .single-event {
    flex-direction: column;
    margin: 0 10px;
  }
  .event-img {
    margin-top: 25px;
    margin-right: 0;
  }
  .event-img:first-child {
    margin-top: 10px;
  }
  .single-event-heading {
    margin: 5px 0;
  }
  .event-description {
    margin: 5px 0;
  }
  .read-more {
    margin-left: 0;
  }
}
