*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  overflow-x: hidden;
}

/* Resolution Below - 1920 -> xl */
html {
  font-size: 62.5%;
}


body {
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #21346d;
  padding: 2rem;
}

main {
  background-color: #fff;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}


/* Resolution Below - 1280 -> lg */
@media (max-width: 80em) {
  html {
    font-size: 56.25%;
  }

  .slick-current>div>div {
    background-color: #fff;
    padding: 4rem 1rem;
    opacity: 1 !important;
    /* height: 55rem; */
  }

}

/* Resolution Below - 960 -> md */
@media (max-width: 60em) {
  html {
    font-size: 50%;
  }
}

/* Resolution Below - 600 -> sm */
@media (max-width: 37.5em) {
  html {
    font-size: 43.75%;
  }
}


/* -----------------------Global Setup--------------------- */


/* //---***Slider***---// */

.slider .slick-next {
  right: 50px !important;
  top: 47% !important;
}

.slider .slick-prev,
.slider .slick-next {
  overflow: visible;
  z-index: 1;
  top: 45%;
}

.slider .slick-prev::before,
.slider .slick-next::before {
  color: #fff !important;
  font-size: 4.5rem !important;
}

/* Dot Configuration */
.slider .slick-dots {
  bottom: 1rem;
}
.slick-dots li button:before{
  font-size: 15px !important;
  opacity: 0.75 !important;
  color: #fff !important;
}
.slick-dots li.slick-active button:before{
  opacity: 1 !important;
}

/* //---***Slider***---// */




/* //---***News***---// */


.slick-track {
  display: flex !important;
  align-items: center;
}

.slick-prev,
.slick-next {
  overflow: visible;
}

.slick-prev {
  left: 25px !important;
}

.slick-next {
  right: 25px !important;
}

.slick-prev::before,
.slick-next::before {
  color: #963a5e !important;
  font-size: 3rem !important;
}


/* //---***News***---// */
